<form class="form-horizontal">
    <div class="form-group">
        <label for="address_label" class="col-sm-2 control-label">Label: </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="address_label" id="address_label" placeholder="Enter a label for this address to add it to your address book">
        </div>
    </div>
    <div class="form-group">
        <label for="trustaddress" class="col-sm-2 control-label">TRUST Address:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="send.trustaddress" id="trustaddress" placeholder="Enter a Trust address">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <button class="btn btn-success btn-block" ng-click="addaddress()">Add Address</button>
        </div>
    </div>
</form>
<ul>
    <li ng-repeat="add in addresses">
        <a ng-click="sendTo(add.address)">{{add.label}} - {{add.address}}</a> <a ng-click="removeAddress(add)"><i class="glyphicon glyphicon-remove"></i></a>
    </li>
</ul>
